/*此文件是：在做新项目的时候，写全新html和css用到的共用css,无须写命名空间。*/
/*reset*/
html,
body,
div,
h2,
h3,
h4,
p,
td,
tr,
ul,
ol,
li,
table,
dl,
dd,
dt,
img,
form {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font-size: 12px;
  /*font-family: tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;*/
  font-family: arial, "Hiragino Sans GB";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
a {
  text-decoration: none;
  color: black;
}
.clear {
  *zoom: 1;
}
.clear:before,
.clear:after {
  display: table;
  content: "";
}
.clear:after {
  clear: both;
}
/*自定义*/
.cp {
  cursor: pointer;
}
.cw {
  color: white;
}
.cb {
  color: black;
}
.dn {
  display: none;
}
.db {
  display: block;
}
.dib {
  display: inline-block;
}
.cr {
  cursor: pointer;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.fwb {
  font-weight: bold;
}
.fwn {
  font-weight: normal;
}
.m0a {
  margin: 0 auto;
}
.tac {
  text-align: center;
}
.tal {
  text-align: left;
}
.tar {
  text-align: right;
}
.fs12 {
  font-size: 12px;
}
.fs13 {
  font-size: 13px;
}
.fs14 {
  font-size: 14px;
}
.fs15 {
  font-size: 15px;
}
.fs16 {
  font-size: 16px;
}
.fs17 {
  font-size: 17px;
}
.fs18 {
  font-size: 18px;
}
.fs19 {
  font-size: 19px;
}
.fs20 {
  font-size: 20px;
}
.fs21 {
  font-size: 21px;
}
.fs22 {
  font-size: 22px;
}
.fs23 {
  font-size: 23px;
}
.fs24 {
  font-size: 24px;
}
.fs25 {
  font-size: 25px;
}
.fs26 {
  font-size: 26px;
}
.fs27 {
  font-size: 27px;
}
.fs28 {
  font-size: 28px;
}
.fs29 {
  font-size: 29px;
}
.fs30 {
  font-size: 30px;
}
.header-wrapper {
  background: red;
  /*height: 100px;*/
}
.header-top {
  height: 50px;
  line-height: 50px;
  font-size: 17px;
  background: #B7B7FF;
}
.header-top .loginAndRegister .register {
  margin-right: 30px;
}
.header-top .loginAndRegister .login {
  margin-right: 30px;
}
.main-wrapper {
  height: 400px;
  background: #eee;
}
.footer-wrapper {
  background: black;
  color: white;
  height: 100px;
}
